.section {
    height: 100%;
    margin-left: 252px;
    padding: 80px 48px 0 64px;
    min-width: 416px;
    max-width: 752px;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
  }
  
  .main {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
  }
  
  .p {
    --tw-text-opacity: 1;
    color: rgb(90 94 112 / var(--tw-text-opacity));
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
  
    padding: 0;
    box-sizing: border-box;
  
    border-width: 0;
    border-style: solid;
  }
  
  .main1 {
    gap: 8px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
  }
  
  .link1 {
    text-align: center;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
      backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-font-smoothing: antialiased;
    text-decoration-line: none;
    --tw-text-opacity: 1;
    color: rgb(14 17 17 / var(--tw-text-opacity));
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(14 17 17 / var(--tw-border-opacity));
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    white-space: nowrap;
    column-gap: 8px;
    gap: 4px;
    justify-content: center;
    align-items: center;
    width: 50%;
    display: flex;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  .link2 {
    margin-left: 16px;
  
    text-align: center;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
      backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-font-smoothing: antialiased;
    text-decoration-line: none;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
    padding-right: 40px;
    --tw-bg-opacity: 1;
    background-color: rgb(14 17 17 / var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(14 17 17 / var(--tw-border-opacity));
    border-style: solid;
    border-width: 1px;
  
    border-radius: 4px;
    white-space: nowrap;
    column-gap: 8px;
    gap: 4px;
    justify-content: center;
    align-items: center;
    width: 50%;
    display: flex;
    text-decoration: none;
    box-sizing: border-box;
  }
  