.main {
  min-height: calc(100vh - 64px);
  background-color: #e8edf2;
  display: block;
  box-sizing: border-box;
}

.div {
  display: block;
  box-sizing: border-box;
}

.main1 {
  max-width: 1296px;
  padding: 20px 20px 80px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display: block;
}

.main2 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  box-sizing: border-box;
}

.mainLeft {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;

  display: block;
}

.div1 {
  padding: 1.6188rem !important;
  margin-bottom: 1.6188rem !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border-radius: 0.214rem !important;
  background-color: #fff !important;
  box-sizing: border-box;
  display: block;
}

.div2 {
  margin-bottom: 1.14rem !important;
  display: flex !important;
  box-sizing: border-box;
}

.div3 {
  margin-bottom: 1rem;
  box-sizing: border-box;
  display: block;
}

.label {
  font-weight: 600;
  color: #5e6368;
  margin-bottom: 0.57rem !important;
  display: inline-block;
  box-sizing: border-box;
  cursor: default;
}

.span {
  color: #c52e20;
  box-sizing: border-box;
  font-weight: 600;
}

.form {
  margin-left: auto !important;
  position: relative !important;
  box-sizing: border-box;
  display: block;
}

.span1 {
  position: absolute;
  top: 15px;
  right: 7px;
  color: #868d94 !important;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.span2 {
  cursor: pointer;
  right: 100%;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  font-size: 16px !important;
  color: #868d94;
  text-align: center;
  box-sizing: border-box;
}

.input {
  padding-right: 105px;
  text-overflow: ellipsis !important;
  color: #000;
  height: calc(1.5em + 1.2rem + 2px);
  padding: 0.6rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  display: block;
  width: 100%;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e8edf2;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
  overflow-clip-margin: 0px !important;
  overflow: clip !important;
  padding-block: 1px;
  padding-inline: 2px;
}

.div4 {
  justify-content: space-between !important;
  display: flex !important;
  box-sizing: border-box;
}

.div5 {
  width: calc(50% - 10px);
  margin-bottom: 1rem;
}

.div6 {
  position: relative;
  margin-left: auto !important;
  box-sizing: border-box;
  display: block;
}

.i1 {
  position: absolute;
  left: 12px;
  top: calc(0.75em + 0.375rem - 1px);
  margin-top: -7px;
  pointer-events: none;
  color: #a8afb6;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

.inputdate {
  padding-left: 36px !important;
  color: #000;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e8edf2;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
  overflow-clip-margin: 0px !important;
  overflow: clip !important;
  padding-block: 1px;
  padding-inline: 2px;
}

.date-picker-wrapper {
  position: relative;
}

.date-picker-wrapper .react-datepicker {
  position: absolute;
  z-index: 1000; /* Đảm bảo DatePicker hiển thị phía trên các phần tử khác */
}

.div7 {
  width: calc(50% - 10px);
  margin-bottom: 1rem;
  box-sizing: border-box;
  display: block;
}

.div8 {
  width: 180px;
  border: 1px solid #d7dee4;
  border-radius: 4px;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0;
  color: #000;
  align-items: center !important;
  display: flex !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-sizing: border-box;
}

.div9 {
  border-right: 1px solid #d7dee4;
  border-radius: 4px 0 0 4px;
  width: 40px;
  line-height: calc(1.5em + 0.75rem + 2px);
  height: 100%;
  text-align: center;
  color: #868d94;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
}

.inputcount {
  width: 100px;
  font-size: 13px;
  height: 100%;
  text-align: center;
  background: transparent;
  border: none;
  margin: 0;
  font-family: inherit;
  line-height: inherit;
  box-sizing: border-box;
  overflow-clip-margin: 0px !important;
  overflow: clip !important;
}

.div10 {
  border-left: 1px solid #d7dee4;
  border-radius: 0 4px 4px 0;
  width: 40px;
  line-height: calc(1.5em + 0.75rem + 2px);
  height: 100%;
  text-align: center;
  color: #868d94;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
}

.div11 {
  margin-bottom: 1rem;
  box-sizing: border-box;
  display: block;
}

.div12 {
  border-radius: 5px;
  background-color: #f5f8fa !important;
  margin-bottom: 1.14rem !important;
  border: 1px solid #e8edf2 !important;
  box-sizing: border-box;
  display: block;
}

.div13 {
  position: relative;
  padding: 1.6188rem !important;
  align-items: center !important;
  justify-content: space-between !important;
  display: flex !important;
  border-bottom: 1px solid #e8edf2 !important;
  box-sizing: border-box;
}

.div14 {
  width: 75% !important;
  display: flex !important;
  box-sizing: border-box;
}

.div15 {
  width: 100px;
  align-items: center !important;
  display: flex !important;
  box-sizing: border-box;
}

.span3 {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased !important;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  color: #303235;
  text-align: left;
  font-weight: 500 !important;
}

.div16 {
  padding: 0 8px;
  width: calc(100% - 100px);
  position: relative;
  box-sizing: border-box;
  display: block;
}

.div17 {
  width: 75% !important;
  box-sizing: border-box;
  display: block;
}

.div18 {
  color: #303235 !important;
  position: relative !important;
  box-sizing: border-box;
  display: block;
}
.div19 {
  color: #303235 !important;
  font-family: inherit;
  font-size: 1rem;
  touch-action: manipulation;
  box-sizing: content-box;
  display: block;
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: left;
}

.div20 {
  height: 34px !important;
  top: 0;
  z-index: 11;

  box-sizing: border-box;
  position: absolute;
  width: 40px;
  right: 1px;
  padding: 4px 8px;
  text-align: center;
  transition: transform 0.2s ease;
  line-height: 16px;
  display: block;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

.div21 {
  min-height: 33.5px;
  height: auto;
  display: block;
  padding: 0.425rem 40px 0 0.375rem;
  border-radius: 5px;
  border: 1px solid #e8edf2;
  background: #fff;
  font-size: 13px;
  box-sizing: border-box;
  color: #303235 !important;
}

.div22 {
  display: none;
  font-size: 0;
  box-sizing: border-box;
}
.div23 {
  display: none;
  background: rgb(0 0 0 / 0);
  box-sizing: border-box;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 48px;
  height: 35px;
}

.inputlocation {
  width: 0px;
  position: absolute;
  padding: 0px;
  margin: 0 !important;
  font-family: inherit;
  font-size: 1rem;
  touch-action: manipulation;
  background-color: hsla(0, 0%, 100%, 0) !important;
  color: #868d94;
  box-sizing: border-box;
  display: inline-block;
  min-height: 20px;
  line-height: 20px;
  border: none;
  border-radius: 5px;
  background: #fff;
  transition: border 0.1s ease;
  vertical-align: top;
  overflow-clip-margin: 0px !important;
  overflow: clip !important;
  padding-block: 1px;
  padding-inline: 2px;
}

.spanlocation {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  width: 100%;
  color: #868d94;
  display: inline-block;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 5px;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
}

.divselect {
  max-height: 284.683px;

  box-sizing: border-box;
  position: absolute;

  background: #fff;
  width: 100%;
  overflow: auto;
  border: 1px solid #e8e8e8;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 50;
  color: #303235 !important;
  font-family: inherit;
  font-size: 1rem;
  text-align: left;
}

.ul {
  display: inline-block;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 100%;
  color: #303235 !important;
  vertical-align: top;
  z-index: 100000;
}

.li {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.spanselect {
  display: block;
  padding: 10px;
  min-height: auto;
  text-decoration: none;
  text-transform: none;
  position: relative;
  cursor: pointer;
  white-space: normal !important;
  box-sizing: border-box;
  outline: none;
  flex: 0 0 90%;
width: 90%;
  line-height: 16px;
  vertical-align: middle;
  text-align: -webkit-match-parent;
  font-family: inherit;
  font-size: 1rem;
}

.spanselect:hover {
  color: #fff;
  background: #ff6f61;
}

.spande {
  z-index: 15;
  right: 34px;
  top: 7px;
  height: auto;
  cursor: pointer;
  background: transparent;
  color: #868d94;
  border: none;
  margin-right: auto !important;
  position: absolute !important;
  box-sizing: border-box;
}

.divlocation {
  padding: 1.6188rem !important;
  box-sizing: border-box;
  display: block;
}

.div24 {
  position: relative;
  margin-bottom: 1.14rem !important;
  align-items: center !important;
  justify-content: space-between !important;
  display: flex !important;
  box-sizing: border-box;
  
}

.div25 {
  width: calc(100% - 15px);
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  box-sizing: border-box;
}

.div26 {
  padding-right: 8px !important;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  position: relative;
  width: 100%;
  padding-left: 15px;
  box-sizing: border-box;
  display: block;
}

.div27 {
  padding-left: 8px;
  padding-right: 8px;
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.div28 {
  margin-left: auto !important;
  position: relative !important;
  box-sizing: border-box;
  display: block;
}

.inputdetaillocation {
  text-overflow: ellipsis !important;
  color: #868d94;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e8edf2;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
  overflow-clip-margin: 0px !important;
  overflow: clip !important;
  padding-block: 1px;
  padding-inline: 2px;
}

.div29 {
  padding: 1.6188rem !important;

  margin-bottom: 1.6188rem !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border-radius: 0.214rem !important;
  background-color: #fff !important;
  box-sizing: border-box;
  display: block;
}

.div30 {
  margin-top: 1.14rem !important;
  box-sizing: border-box;
  display: block;
}

.div31 {
  margin-bottom: 0.57rem !important;
  justify-content: space-between !important;
  display: flex !important;
  box-sizing: border-box;
}

.spanlabel {
  font-weight: 600;
  color: #5e6368;
  box-sizing: border-box;
}

.buttondelete {
  cursor: pointer;
  color: #303235;
  white-space: nowrap;
  border-radius: 5px;

  padding: 0 !important;
  border: 0 !important;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  align-items: center;
  display: flex;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
}

.div32 {
  box-sizing: border-box;
  display: block;
}

.div33 {
  display: block;
  box-sizing: border-box;
}

.div34 {
  color: #303235 !important;
  position: relative !important;
  box-sizing: border-box;
  display: block;
}

.div35 {
  color: #303235 !important;
  font-family: inherit;
  font-size: 1rem;
  touch-action: manipulation;
  box-sizing: content-box;
  display: block;
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: left;
}

.div36 {
  height: 34px !important;
  top: 0;
  z-index: 11;

  box-sizing: border-box;
  position: absolute;
  width: 40px;
  right: 1px;
  padding: 4px 8px;
  text-align: center;
  transition: transform 0.2s ease;
  line-height: 16px;
  display: block;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  color: #303235 !important;
  font-family: inherit;
  font-size: 1rem;
}

.div37 {
  min-height: 33.5px;
  height: auto;
  display: block;
  padding: 0.425rem 40px 0 0.375rem;
  border-radius: 5px;
  border: 1px solid #e8edf2;
  background: #fff;
  font-size: 13px;
  box-sizing: border-box;
  color: #303235 !important;
  font-family: inherit;
  text-align: left;
}

.inputskill {
  width: 0px;
  position: absolute;
  padding: 0px;
  font-family: inherit;
  font-size: 1rem;
  touch-action: manipulation;
  background-color: hsla(0, 0%, 100%, 0) !important;
  color: #868d94;
  box-sizing: border-box;
  display: inline-block;
  min-height: 20px;
  line-height: 20px;
  border: none;
  border-radius: 5px;
  background: #fff;
  transition: border 0.1s ease;
  margin-bottom: 8px;
  vertical-align: top;
  margin: 0;
  overflow-clip-margin: 0px !important;
  overflow: clip !important;
  padding-block: 1px;
  padding-inline: 2px;
}

.spanskill {
  margin-top: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  width: 100%;
  color: #868d94;
  display: inline-block;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 5px;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
}

.div38 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0;
  box-sizing: border-box;
}

.div39 {
  height: fit-content;
  min-height: 18px;
  padding: 2px 10px 2px 12px;
  border-radius: 10px;
  background: #ff6f61;
  margin-right: 5px;
  color: white;
  margin-bottom: 6px;
  box-sizing: border-box;
  align-items: center !important;
  display: flex !important;
}
.spanskill1 {
  font-size: 12px;
  box-sizing: border-box;
}

.spanskillicon {
  width: 8px;
  height: 18px;
  margin-left: 8px;
  margin-bottom: 2px;
  font-size: 12px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: left;
  font-family: inherit;
}

.mainRight {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  display: block;
}

.div40 {
  margin-bottom: 1.6188rem !important;
  box-sizing: border-box;
  display: block;
}

.div41 {
  justify-content: space-between;
  background-color: #f5f8fa !important;
  padding-left: 1.6188rem !important;
  padding-right: 1.6188rem !important;
  padding-bottom: 1.14rem !important;
  padding-top: 1.14rem !important;
  align-items: center !important;
  display: flex !important;
  cursor: pointer;
  box-sizing: border-box;
}

.div42 {
  color: var(--neutral-800, #303235);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.16px;
  padding-right: 0.57rem !important;
  margin-right: 0.57rem !important;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
}

.div43 {
  padding: 16px;
  background-color: #fff !important;

  box-sizing: border-box;   
  display: block;
}


.div44{
    margin-bottom: 1.14rem !important;
    box-sizing: border-box;
    display: block;
}

.div45{
    display: flex !important;
    box-sizing: border-box;
}

.divupload{
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: calc(50% - 8px);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: .163px;
    margin-right: 8px;
    box-sizing: border-box;
}

.inputup{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    
}

.button11{
    width: 100%;
    cursor: pointer;
    min-width: 100px;
    font-size: 14px;
    white-space: nowrap;
    border-radius: 5px;
    color: #ff6f61;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border-color: #ff6f61;
    user-select: none;
    background-color: transparent;
    border: 1px solid ;
    padding: .375rem .75rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.i2{
    margin-right: .285rem !important;
}

.span4{
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;

}

.button11:hover{
    background-color: #ff6f61;
    color: white;
}

.div46{
    margin-top: 1.6188rem !important;
    margin-bottom: 1.14rem !important;
    box-sizing: border-box;
    display: inline-block;

}

.div47{
    margin-right: 0;
    width: 64px;
    height: 64px;
    position: relative !important;
    box-sizing: border-box;
    margin-bottom: 8px;
     float: left;
    display: block;
}

.divimg{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-position: 50% !important;
    background-size: cover !important;
    border-radius: 4px;
    border: 1px solid var(--neutral-300,#d7dee4);
    box-sizing: border-box;
    display: block;

}

.divdelete{
    position: absolute;
    right: -6px;
    top: -6px;
    border-radius: 50%;
    z-index: 99;
    width: 16px;
    height: 16px;
    background: white;
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, .1), 0 1px 3px 0 rgba(0, 0, 0, .1);
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    box-sizing: border-box;
}
.button2{
  cursor: pointer;
  min-width: 100px;
  font-size: 14px;    
  color: white;
  background: #FF6F61;
  white-space: nowrap;
  border-radius: 5px;
  margin-right: .57rem !important;
  border-color: #FF6F61;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  line-height: 1.5;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
}

.check{
  z-index: 0;
  position: relative;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  cursor: default;
  padding-left: 35px;
}


.div50{
  display: block;
  box-sizing: border-box;
  margin-bottom: 1.14rem !important;
  border-radius: 4;
}
.formupload1{
  background-color: #fff5f5;
  border: 1px solid #ed1b2f;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 1.14rem !important;
  display: block;
}

.div51 {
  width: calc(100% - 15px);
  /* display: flex;
  flex-wrap: wrap; */
  margin-right: -15px;
  margin-left: -15px;
  box-sizing: border-box;
}
.div52 {
  width: calc(100% - 15px);
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -85px;
  box-sizing: border-box;
}

