.main{
    min-height: calc(100vh - 64px);
    background-color: #e8edf2;
    display: block;
    box-sizing: border-box;
}

.div{
    display: block;
    box-sizing: border-box;
}

.main1{
    max-width: 1296px;
    padding: 20px 20px 80px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    display: block;
}