.header {
  padding: 0 24px;
  background-color: #0e1111;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 110;
  height: 64px;
  transition: transform 0.3s ease, height 0.3s ease, opacity 0.3s ease;
  transform: translateY(0);
  opacity: 1;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.header1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-right: auto;
  max-width: 1800px;
  margin-left: auto;
  height: 100%;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.header2 {
  padding-left: 24px;
  margin-right: 32px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 0;
  min-height: 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.link1 {
  color: #143fcd;
  cursor: pointer;
  align-items: center;
  display: flex;
  margin-right: 16px;
  text-decoration: none;
  box-sizing: border-box;

  border-width: 0;
  border-style: solid;
}

.header3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
  color: #fff;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.link2 {
  color: currentColor;
  font-size: 13px;
  line-height: 20px;
  margin-right: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  transition: 0.3s ease;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.header4 {
  align-items: center;
  flex-direction: row;
  display: flex;

  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}
.header5 {
  position: relative;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.span {
  position: relative;
  display: block;
  padding: 8px 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.span::after {
  display: block;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 16px;
  height: 2px;
  content: " ";
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}
.spanactive {
  position: relative;
  display: block;
  padding: 8px 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.spanactive::after {
  display: block;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 16px;
  height: 2px;
  content: " ";
  background-color: transparent;
  border-radius: 4px;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  background-color: #fff;
}

.header6 {
  margin-left: 16px;
  margin-right: 8px;
  height: 32px;
  border-right: 1px solid #eee;
  opacity: 0.5;
  box-sizing: border-box;

  border-style: solid;
}

.header7 {
  min-width: 115px;
  display: flex;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.header8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 0;
  min-height: 0;
  flex-grow: 0;
  color: #fff;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.link3 {
  color: #143fcd;
  display: flex;
  margin: 0 20px 0 8px;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.header9 {
  align-items: center;
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.svg {
  color: #fff;
  display: block;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.header10 {
  right: -8px;
  top: 8px;
  -webkit-font-smoothing: antialiased;

  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  line-height: 1;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;

  padding: 4px;
  --tw-bg-opacity: 1;
  background-color: rgb(236 46 58 / var(--tw-bg-opacity)) !important;
  --tw-border-opacity: 1;
  border-color: rgb(211 69 11 / var(--tw-border-opacity));
  border-style: solid;
  border-radius: 9999px;
  width: 8px;
  height: 8px;
  position: absolute;
  box-sizing: border-box;
}

.header11 {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  min-height: 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.header12 {
  position: static;
  box-sizing: inherit;
  border-width: 0;
  border-style: solid;
}

.header13 {
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  background-color: transparent;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-font-smoothing: antialiased;
  text-decoration-line: none;
  --tw-text-opacity: 1;
  color: rgb(14 17 17 / var(--tw-text-opacity));
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  white-space: nowrap;
  column-gap: 8px;
  cursor: pointer;
  margin-right: 0;
  margin: 0;
  font-family: Graphik, Helvetica Neue, arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  box-sizing: border-box;
}

.header14 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  min-height: 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.header15 {
  flex-shrink: 0;
  border-color: #fff;
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-width: 1px;
  border-radius: 9999px;
  align-items: center;
  flex-direction: row;
  width: 32px;
  height: 32px;
  display: inline-flex;
  position: relative;
  border-style: solid;
}

.img {
  border-radius: 9999px;
  height: auto;
  font-size: 9px;
  color: transparent;
  line-height: 1.25;
  text-overflow: ellipsis;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.header16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  width: 100%;
  padding-top: 2px;
  margin-left: 8px;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.header17 {
  z-index: 9999;
  visibility: visible;
  position: absolute;
  /* inset: 0px auto auto 0px; */
  margin: 0px;
  /* transform: translate3d(1240px, 65px, 0px); */
  max-width: calc(100vw - 10px);
  top: 10px;
  right: 0px;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.header18 {
  max-width: 350px;
  transition-duration: 300ms;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  white-space: normal;
  outline: 0;
  transition-property: transform, visibility, opacity;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.header19 {
  transition-duration: 300ms;
  padding: 0;
  position: relative;

  z-index: 1;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.ul {
  margin: 0;
  min-width: 176px;
  max-width: 224px;
  padding: 8px;
  --tw-shadow: 2px 5px 8px rgba(3, 17, 38, 0.107),
    0 0 1px 0 rgba(0, 12, 32, 0.04);
  --tw-shadow-colored: 2px 5px 8px var(--tw-shadow-color),
    0 0 1px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  scrollbar-color: #e0e0e0 #fff;
  scrollbar-width: 5px;
  border-radius: 4px;
  z-index: 100;
  border: 1px solid hsla(0, 0%, 74%, 0.8);
  background-color: #fff;
  color: #616161;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  list-style-type: none;
  box-sizing: border-box;
}

.li {
  margin-top: 0;
  margin: 0;
  white-space: nowrap;
  text-align: left;
  list-style-type: none;
  padding: 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.link4 {
  padding: 8px 12px;
  display: block;
  border-bottom: none;
  text-decoration: none;
  color: #050c26;
  font-size: 14px;
  text-align: left;
  line-height: 1.5;
  cursor: pointer;
}
.span1 {
  --tw-text-opacity: 1;
  color: rgb(5 12 38 / var(--tw-text-opacity));
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.header20 {
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.img1 {
  flex-shrink: 0;
  border-color: #fff;
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-width: 1px;
  border-radius: 9999px;
  align-items: center;
  flex-direction: row;
  width: 32px;
  height: 32px;

  display: inline-flex;
  position: relative;
  box-sizing: inherit;
  border-style: solid;
}

.header21 {
  flex-direction: column;
  width: 100%;
  display: flex;
  margin-right: 8px;
  margin-left: 16px;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.hr {
  margin: 8px 12px;
  border-width: 0 0 1px;
  border-color: #eee;
  height: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: solid;
}

.li1 {
  padding-top: 0;
  padding-bottom: 0;
  padding: 4px 12px;
  margin: 0;
  white-space: nowrap;
  text-align: left;
  list-style-type: none;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.span2 {
  --tw-text-opacity: 1;
  color: rgb(113 117 132 / var(--tw-text-opacity));
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.li2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding-right: 4px;
  padding: 4px 12px;
  margin: 0;
  white-space: nowrap;
  text-align: left;
  list-style-type: none;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.span3 {
  --tw-text-opacity: 1;
  color: rgb(5 12 38 / var(--tw-text-opacity));
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.li3 {
  margin: 0;
  white-space: nowrap;
  text-align: left;
  list-style-type: none;
  padding: 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.link5 {
  padding-top: 0;
  padding-bottom: 0;
  padding: 4px 12px;
  display: block;
  border-bottom: none;
  text-decoration: none;
  color: #050c26;
  font-size: 14px;
  text-align: left;
  line-height: 1.5;
  cursor: pointer;
}

.link5:hover {
  background-color: #eaebff;
}

.discover {
  background-color: transparent;
  color: #dbc0f8;
  border-color: #dbc0f8;
  transition: color 0.1s ease, border-color 0.1s ease;
  will-change: color, border-color;
  text-decoration-line: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  --tw-bg-opacity: 1;
  --tw-border-opacity: 1;
  border-style: solid;

  border-width: 1px;
  border-radius: 4px;
  white-space: nowrap;
  cursor: pointer;
  margin: 0;
  font-family: Graphik, Helvetica Neue, arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  box-sizing: border-box;
}

.header22 {
  position: static;
  box-sizing: inherit;
  border-width: 0;
  border-style: solid;
  margin-top: 10px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  color: #050c26;
  background-color: transparent;
  border: none;
  font-size: inherit;
  padding: 0;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
}

.span4 {
  margin: 0 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 0;
  min-height: 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.svg1 {
  width: 24px;
  color: #fff;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.header23 {
  z-index: 9999;
  visibility: visible;
  position: absolute;
  /* inset: 0px 0px auto auto; */
  margin: 0px;
  transform: translate3d(-110.792px, 54px, 0px);
  max-width: calc(100vw - 10px);
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.header24 {
  max-width: 350px;
  transition-duration: 300ms;
  background-color: transparent;
  color: #fff;
  position: relative;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  white-space: normal;
  outline: 0;
  transition-property: transform, visibility, opacity;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.header25 {
  transition-duration: 300ms;
  padding: 0;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.ul1 {
  margin: 0;
  min-width: 176px;
  max-width: 224px;
  padding: 8px;
  --tw-shadow: 2px 5px 8px rgba(3, 17, 38, 0.107),
    0 0 1px 0 rgba(0, 12, 32, 0.04);
  --tw-shadow-colored: 2px 5px 8px var(--tw-shadow-color),
    0 0 1px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  scrollbar-color: #e0e0e0 #fff;
  scrollbar-width: 5px;
  border-radius: 4px;
  z-index: 100;
  border: 1px solid hsla(0, 0%, 74%, 0.8);
  background-color: #fff;
  color: #616161;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  list-style-type: none;
  list-style: none;
  box-sizing: border-box;
}

.li4 {
  margin-top: 0;
  padding: 4px 12px;
  margin: 0;
  white-space: nowrap;
  text-align: left;
  list-style-type: none;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.span5 {
  --tw-text-opacity: 1;
  color: rgb(5 12 38 / var(--tw-text-opacity));
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.span6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.hr {
  margin: 8px 12px;
  border-width: 0 0 1px;
  border-color: #eee;
  height: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: solid;
}

.li5 {
  margin: 0;
  white-space: nowrap;
  text-align: left;
  list-style-type: none;
  padding: 4px 12px;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}
.link6 {
  display: block;
  border-bottom: none;
  text-decoration: none;
  color: #050c26;
  font-size: 14px;
  text-align: left;
  line-height: 1.5;
  cursor: pointer;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.span7 {
  --tw-text-opacity: 1;
  color: rgb(5 12 38 / var(--tw-text-opacity));
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}
.link6:hover {
  background-color: #eaebff;
}

.li6 {
  background-color: #f0f0ff;
  margin: 8px 0 0;
  padding: 8px;
  text-align: center;
  white-space: nowrap;
  list-style-type: none;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.button1 {
  width: 100%;
  padding: 4px 12px;
  display: block;
  border-bottom: none;
  text-decoration: none;
  color: #050c26;
  font-size: 14px;
  text-align: left;
  line-height: 1.5;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 0;
  font-family: inherit;
}
.span8{
  color: #525769;
  font-size: 14px;
  line-height: 20px;
  --tw-text-opacity: 1;
  font-weight: 400;
  font-size: 14px;
  box-sizing: border-box;
  border-width: 0;
    border-style: solid;
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }
  .header1 {
    flex-direction: column;
    align-items: flex-start;
  }
  .link2 {
    margin-right: 8px;
    font-size: 12px;
  }
}
