.main {
  --tw-bg-opacity: 1;
  background-color: rgb(244 244 245 / var(--tw-bg-opacity, 1));
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  overflow: hidden;
  width: 100%;
  /* height: 100%; */
  height: 100vh;
  display: flex;
  z-index: 0;
  position: relative;
  /* border-color: hsl(var(--border)); */
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.left {
  width: 260px;
  overflow-x: hidden;
  flex-shrink: 0;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.nav {
  flex-direction: column;
  min-height: 0;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.main1 {
  padding: 1rem;
  border-color: rgba(9, 9, 11, 0.05);
  border-bottom-width: 1px;
  flex-direction: column;
  display: flex;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.span {
  position: relative;
  /* box-sizing: border-box; */
  /* border: 0 solid #e5e7eb; */
}

.main2 {
  padding: 1rem;
  overflow-y: auto;
  flex-direction: column;
  flex: 1 1 0%;
  display: flex;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.main3 {
  gap: 0.125rem;
  flex-direction: column;
  display: flex;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.span1 {
  position: relative;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.a {
  background-color: rgba(9, 9, 11, 0.05);
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(9 9 11 / var(--tw-text-opacity, 1));
  font-weight: 500;
  text-align: left;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  display: flex;
  text-decoration: inherit;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.svg {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  display: block;
  vertical-align: middle;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.span2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.right {
  overflow: hidden;
  flex-direction: column;
  flex: 1 1 0%;
  max-width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}
.main4 {
  margin: 0.5rem;
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  -tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  border-width: 1px;
  border-radius: 0.5rem;
  overflow: auto;
  flex: 1 1 0%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.main5 {
  padding-left: 0;
  padding-right: 0;
  flex-direction: column;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.main6 {
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.main7 {
  flex: 1 1 0%;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.main8 {
  height: 100%;
  position: relative;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.main9 {
  margin-top: 2rem;
  align-items: center;
  flex-direction: column;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.main10 {
  margin-bottom: 1.25rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.main11 {
  width: 100%;
  display: block;
  max-width: 24rem;
  height: 1px;

  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  background: linear-gradient(269.85deg, #3cbc8c 0%, #cbe5de 54.89%);
}

.main12 {
  overflow: auto;
  flex: 1 1 0%;
  width: 100%;
  height: 100px;
  position: relative;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.main13 {
  flex-direction: column;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.main14 {
  padding-top: 0;
  border-color: #0000;
  width: 100%;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
 margin-top: auto;
  
}
.main15 {
  border-color: #e4e4e7;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}
.main16 {
  /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
  max-width: 40rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  gap: 0.5rem;
  display: grid;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;

  border-color: #e4e4e7;
  box-sizing: border-box;
}

.button {
  text-align: left;
  padding: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  border-width: 1px;
  border-radius: 0.75rem;
  justify-content: flex-start;
  flex-direction: column;
  cursor: pointer;
  display: flex;
  position: relative;
}

.main17 {
  font-weight: 600;
  margin-right: 1rem;
  margin-bottom: 0.25rem;
  border-color: #e4e4e7;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.main18 {
  --tw-text-opacity: 1;
  color: rgb(113 113 122 / var(--tw-text-opacity, 1));
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-right: 1rem;
  border-color: #e4e4e7;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.main19 {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.75rem;
  width: 100%;
  margin: auto;

  border-color: #e4e4e7;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.main20 {
  max-width: 40rem;
  font-size: 1rem;
  line-height: 1.75rem;
  gap: 0.25rem;
  display: flex;

  margin-left: auto;
  margin-right: auto;
  border-color: #e4e4e7;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.form {
  width: 100%;
  /* border-color: ; */
  box-sizing: border-box;
  border: 1px solid #e4e4e7;
}

.main21 {
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  /* border-color: #e4e4e7; */
  border: 1px solid #e4e4e7;
  box-sizing: border-box;
  /* border: 0 solid #e5e7eb; */
}
.main22 {
}
.main23 {
  align-items: center;
  width: 100%;
  display: flex;

  position: relative;
  border-color: #e4e4e7;
  box-sizing: border-box;
  /* border: 0 solid #e5e7eb; */
}

.main24 {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  padding: 0.375rem;
  background-color: #fff;
  border-color: #e4e4e7;
  border-width: 1px;
  border-radius: 0.5rem;
  gap: 0.375rem;
  flex-direction: column;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  /* border: 0 solid #e5e7eb; */
}

.main25 {
  gap: 0.5rem;
  align-items: flex-end;
  display: flex;

  border-color: #e4e4e7;
  box-sizing: border-box;
  /* border: 0 solid #e5e7eb; */
}

.main26 {
  padding-left: 1rem;
  flex-direction: column;
  flex: 1 1 0%;
  min-width: 0;
  display: flex;
  border-color: #e4e4e7;

  box-sizing: border-box;
  /* border: 0 solid #e5e7eb; */
}

.main27 {
  /* display: block; */
  border-color: #e4e4e7;
  box-sizing: border-box;
  /* border: 0 solid #e5e7eb; */
}

.inputtextarea {
  height: 30px !important;
  outline: 2px solid transparent;
    outline-offset: 2px;
  font-size: 0.875rem;
  line-height: 1.5rem;
  background-color: #0000;
  /* overflow: auto; */
  resize: none;

  width: 100%;
  max-height: 13rem;
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border-color: #e4e4e7;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.span3 {
  /* transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;   */
  --tw-text-opacity: 1;
  color: rgb(113 113 122 / var(--tw-text-opacity, 1));
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
  /* --tw-bg-opacity: 1;
  background-color: rgb(228 228 231 / var(--tw-bg-opacity, 1)); */
  background-color: #3cbc8c;
  /* backgroundColor: "#3cbc8c", */
  border-color: rgba(17, 24, 39, 0.05);
  border-width: 0;
  border-radius: calc(var(--radius) - 2px);
  white-space: nowrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  color: #000000;
  /* cursor: not-allowed; */
  min-width: 40px;
cursor: pointer;
  width: 80px;
  min-height: 40px;
  height: 40px;
  display: inline-flex;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}


.main30{

    overflow: auto;
    /* flex: 1 1 0%; */
    width: 100%;
    height: 70%;
    position: relative;
   
    
}   

.main31{
    flex-direction: column; 
    height: 100%;
    display: flex;

    border-color: #e4e4e7;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.main32{
    overflow: hidden;
    flex: 1 1 0%;
    border-color: #e4e4e7;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.main33{

    height: 100%;
    border-color: #e4e4e7;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.main34{
    height: 100%;
    position: relative;
}

.main35{
    --tw-scrollbar-thumb-color: #a1a1aa;
    --tw-scrollbar-track-color: transparent;
    scrollbar-width: thin;
    overflow-y: auto;
    width: 100%;

    height: 100%;
    border-color: #e4e4e7;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.main36{
    padding-bottom: 2.25rem;
    padding-top: .25rem;
    font-size: .875rem;
    line-height: 1.5rem;

    flex-direction: column;
    display: flex;
    border-color: #e4e4e7;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.article{
    width: 100%;
    border-color: #e4e4e7;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.main37{
    padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1rem;
        line-height: 1.75rem;
        padding-top: 18px;
        padding-bottom: 18px;
        width: 100%;
        margin: auto;
        border-color: #e4e4e7;
        box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.main38{
    gap: 1.25rem;
    max-width: 50rem;
    font-size: 1rem;
    line-height: 1.75rem;
    display: flex;

    margin-left: auto;
    margin-right: auto;
    border-color: #e4e4e7;

}
.main39{
    flex-direction: column;
    min-width: 0;
    width: 100%;
    display: flex;
    position: relative;
    border-color: #e4e4e7;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.main40{
    overflow-wrap: break-word;
    white-space: normal;
    gap:.5rem;

    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    min-height: 20px;
    display: flex;
}
.main41{
    gap: .25rem;
    align-items: flex-end;

    flex-direction: column;
    width: 100%;
    display: flex;
    border-color: #e4e4e7;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.main42{
    padding-top: .625rem;
    padding-bottom: .625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    --tw-bg-opacity: 1;
    background-color: rgb(228 228 231 / var(--tw-bg-opacity, 1));
    border-radius: .75rem;
    max-width: 70%;
    position: relative;
    border-color: #e4e4e7;
    box-sizing: border-box;
}

.main43{
    white-space: pre-wrap;
    border-color: #e4e4e7;
}

.botarticle{
    width: 100%;
    border-color: #e4e4e7;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.main44{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    line-height: 1.75rem;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.main45{
    gap: 1.25rem;
    max-width: 50rem;
    font-size: 1rem;
    line-height: 1.75rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-color: #e4e4e7;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.logobot{
    align-items: flex-end;
    flex-direction: column;
    flex-shrink: 0;
    display: flex;
    position: relative;
    border-color: #e4e4e7;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.main46{
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    display: flex;
    top: .25rem;
    position: relative;
    border-color: #e4e4e7;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.main47{
    align-items: flex-start;    
    flex-direction: column;
    display: flex;
    position: relative;
    border-color: #e4e4e7;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.main48{
    overflow: hidden;
    flex: 1 1 0%;
    width: 100%;
    border-color: #e4e4e7;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.main49{
    font-size: 1rem;
    line-height: 1.75rem;
    overflow-wrap: break-word;
}

.p{
    line-height: 1.625;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0 !important;
color: #fff;
    margin-top: 0 !important;
    max-width: 40rem;

}

.mainlogo{
  width: 35rem;
  height: 25rem;
  margin-top: 0;
  margin-bottom: .75rem;
  border-color: #e4e4e7;
}

.mainlogo1{
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  position: relative;
}

.mainlogo2{
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: middle;
  --tw-enter-opacity: 0;
  animation-duration: 1s;
}

.main50{
  width: 100%;
  display: flex;
  position: relative;
  border-color: #e4e4e7;
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.main51{
  flex-direction: column;
  max-width: 100%;
  display: flex;
  border-color: #e4e4e7;
  box-sizing: border-box;
  margin-left: auto;
    border: 0 solid #e5e7eb;
   
}

.main52{
  overflow-wrap: break-word;
  white-space: normal;
  gap: .5rem;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  min-height: 20px;
  display: flex;
  border-color: #e4e4e7;
  box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

.main53{
  padding-top: 3px;
  gap: .25rem;
  flex-direction: column;
  width: 100%;
  display: flex;

}

.main54{
  overflow-wrap: break-word;
  width: 100%;
}

.main55{
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

.main56{
  max-width: 24rem;
  width: 100%;
}

.main57{
  position: relative;
  --radix-scroll-area-corner-width: 0px;
  --radix-scroll-area-corner-height: 0px;
  border-width: 1px;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  height: fit-content;

}

.main58{
  outline: none;
  padding: .25rem;
  gap: .5rem;
  display: grid;

}


.main59{
  padding: .5rem;
  align-items: center;
  min-width: 0;
  display: flex;
}

.label{
  background-color: rgba(99, 102, 241, .2);
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.5rem;
  padding: .5rem;
  --tw-border-opacity: 1;
  border-color: rgb(99 102 241 / var(--tw-border-opacity, 1));
  border-width: 2px;
  border-radius: 0.5rem;

  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  flex-grow: 1;
  min-width: 0;
  display: flex;
}

.main60{
  overflow: hidden;
  align-items: center;
  display: flex;
}

.mainjob{
  flex-direction: column;
  min-width: 0;
  width: 100%;
  display: flex;
  position: relative;
}

.mainjob1{
  flex-direction: column;
  max-width: 100%;
  display: flex;
}

.mainjob2{
  overflow-wrap: break-word;
  white-space: normal;
  gap: .5rem;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  min-height: 20px;
  display: flex;
}

.mainjob3{
  padding-top: 3px;
  gap: .25rem;
  flex-direction: column;
  width: 100%;
  display: flex;
}

.mainjob4{
  overflow-wrap: break-word;
  width: 100%;
}

.mainjob5{
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  max-width: 40rem;
}

.mainjob6{
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  display:  grid;
  margin-bottom: 1rem;
}

.mainjob7{
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-color: #09090b;
  color: #fff;
  border-width: 1px;
  border-radius: 0.5rem;
  width: 100%;
}

.mainjob8{
  padding-bottom: .5rem !important;
  padding: 1.5rem;
  flex-direction: column;
  display: flex;
}

.mainjob9{
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.mainjob10{
  padding-top: 0 !important;
  padding: 1.5rem;
}

.mainjob11{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.mainjob12{
  font-size: .8125rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
 margin-bottom: 1.5rem;
color: #fff;
}

.mainjob13{
  font-size: .8125rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
 margin-bottom: 1.5rem;
 display: flex;
}

.spanskill{
  gap: .25rem;
  flex-wrap: wrap;
  display: flex;
  margin-left: .5rem;
}

.spanskill1{
  --tw-ring-color: rgba(52, 211, 153, .3);
  --tw-text-opacity: 1;
  color: rgb(52 211 153 / var(--tw-text-opacity, 1));
  background-color: rgba(52, 211, 153, .1);
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-inset: inset;
  font-weight: 600; 
  padding-left: .375rem;
    padding-right: .375rem;
    border-radius: .5rem;
    font-size: .625rem;
}

.des{
  font-size: .8125rem;
  line-height: 1.5rem;
  
}

.des1{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin: 0;
  color: #fff !important;
}

.Apply{
  padding-top: 0;
  padding: 1.5rem;
  align-items: flex-start;
  flex-direction: column;
  display: flex;

}

.buttonApply{

  transition-duration: .15s;
  color:#18181b;
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;

background-color: #fafafa;
border-color: #0000;
border-width: 1px;
border-radius: 0.5rem;
white-space: nowrap;
justify-content: center;
align-items: center;
width: 100%;
height: 2.5rem;
display: inline-flex;
cursor: pointer;

}

.buttonSave{
  font-weight: 500;
  font-size: .8125rem;
  line-height: 1.5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  border-width: 2px;
  border-color: 1px solid red; 
  border-radius: 0.5rem;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  min-height: 26px;
  height: 26px;
  display: inline-flex;
  cursor: pointer;
  background-color: #0000;
  color: #fff;

}

.companyName{
color: #a1a1aa;
font-size: .8125rem;
line-height: 1.5rem;
margin: 0;
border-color: #27272a;

}