.main_container {
    width: 100%;
  }
  
  .container {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 32px !important;
    padding-bottom: 32px !important;
    background: linear-gradient(
      180deg,
      #ff8243,
      #ffd194
    );
  
    display: block;
    box-sizing: border-box;
  }
  .sticky_container {
    position: -webkit-sticky;
    position: sticky;
    top: 63px;
    z-index: 10 ;
    width: 100%;
  
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background: linear-gradient(
      180deg,
      #ff8243,
      #ffd194
    );
  
    display: block;
    box-sizing: border-box;
  }
  
  .contaner1 {
    max-width: 1340px;
    width: 100%;
   
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  
  .container2 {
    display: flex;
    flex-wrap: nowrap;
  }
  .container3 {
    width: 70%;
    display: flex;
    max-width: 100%;
    padding-right: 24px;
    /* padding-left: 24px; */
    padding-left: 10px;
    margin-top: 12px;
  }
  .containerscroll1 {
    width: 70%;
    display: flex;
  
    max-width: 100%;
    padding-right: 24px;
    padding-left: 24px;
    margin-top: 12px;
  }
  .containerscroll2 {
    width: 30%;
    display: flex;
    gap: 20px;
    max-width: 100%;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 24px;
  }
  
  .container4 {
    display: block;
  }
  
  .locationjob {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .location {
    padding-right: 24px;
    justify-content: start;
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
  }
  .job {
    cursor: pointer;
    
    gap: 8px;
    justify-content: center;
    display: flex;
  }
  
  .button {
    display: flex;
    padding-top: 24px;
    gap: 12px;
  }
  
  .main {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 32px !important;
  
    background-color: #f7f7f7 !important;
  
  }
  
  .main1 {
    max-width: 1340px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  
  .main2 {
    display: flex;
    flex-wrap: nowrap;
  
  }
  
  .containerLeft {
    width: 70%;
    flex: 0 0 auto;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
   
  }
  
  .title {
    box-shadow: 0px 6px 32px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: white;
    display: block;
    position: sticky;
    top: 159px;
    z-index: 200;
  }
  .title1 {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    line-height: 1.5;
    align-items: center !important;
    overflow: auto;
    overflow-y: hidden;
    max-width: 100%;
    white-space: nowrap;
    gap: 48px;
    padding-left: 24px !important;
    justify-content: flex-start !important;
  }
  
  .overview {
    box-shadow: 0px 6px 32px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    margin-bottom: 20px !important;
    padding-bottom: 32px !important;
    padding: 24px !important;
    background-color: #fff !important;
    display: block;
  }
  
  .containerRight {
    flex: 0 0 auto;
    width: 25%;
  
    padding-left: 25px;
    padding-right: 25px;
    display: block;
    max-width: 100%;
   
  }
  .scroll{
    position: sticky;
    top: 135px;
    height: 100vh;
  
  }
  
  
  
  .content{
    overflow: auto;
    height: calc(100vh - 89px);
    display: flow-root;
   
    
   
  }
  
  
  
  
  .job1 {
    display: flex;
    gap: 8px;
    margin-bottom: 20px !important;
    margin-top: 12px !important;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: start;
  }
  .button1 {
    background-color: white;
    border-radius: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    border: 1px solid transparent;
    border-color: #dedede;
    padding: 4px 10px;
    gap: 4px;
    cursor: pointer;
    color: #414042;
    transition: border 0.3s ease;
  } 


  .title1  a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    border-radius: 0;
    text-align: center;
    width: 160px;
    cursor: pointer;
    color: #121212;
    opacity: .7;
    border-width: 0;
    border-bottom: 3px solid transparent;
    white-space: nowrap !important;
    display: block;
    padding: .5rem 1rem;
}

.title1  a:hover {
    border-bottom: 3px solid #a6a6a6;
    text-decoration: none;
}

.title1  a.active {
    color: #ed1b2f;
    border-bottom: 3px solid #ed1b2f;
    opacity: 1;
    text-decoration: none;
}

.menuItem {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    color: #a6a6a6;
    padding: 0;
    margin: 0;
    height: 100%;
}

