.main {
  min-height: calc(100vh - 495px);
  flex-direction: column !important;
  display: flex !important;
}
.main1 {
  flex-grow: 1 !important;
  display: block;
}

.container {
  padding-left: 160px !important;
  padding-right: 160px !important;
  /* background: linear-gradient(180deg, #FF8243, #FFD194); */
  background: linear-gradient(269.85deg, #54151c 0%, #121212 54.89%);
  display: block;
}

.container1 {
  padding-bottom: 24px !important;
  padding-top: 24px !important;
  max-width: 1220px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.content {
  flex-direction: column !important;
  display: flex !important;
}

.content1 {
  padding-right: 30px;
  padding-left: 30px;
  background-color: #f7f7f7 !important;
  display: block;
}

.content2 {
  max-width: 1340px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.content3 {
  padding-top: 24px !important;
  display: block;
}

.title1 {
  display: flex;
  flex-direction: row !important;
}

.filter {
  gap: 12px !important;
  margin-left: auto !important;
  margin-top: auto !important;
  justify-content: space-between;
  display: flex !important;
}
.btn {
  width: initial;
  display: block;
}

.detail {
  margin-top: 24px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  display: flex;
  flex-wrap: nowrap;
}
.detailleft {
  padding-right: 24px !important;
  padding-left: 0px !important;
  flex: 0 0 auto;
  width: 41.66666667%;
  display: block;
}
.left1 {
  margin-bottom: 16px;
  box-shadow: none;
  padding-top: 8px !important;
  border-radius: 8px;
  background-color: white;
  flex-direction: column !important;
  display: flex;
  position: relative !important;
}

.detailRight {
  padding: 0 !important;
  flex: 0 0 auto;
  width: 58.33333333%;
  max-width: 100%;
  display: block;
}

.apply {
  position: sticky;
  top: 78px;
  border-radius: 8px;
  background-color: white;
  display: block;
}

.apply1 {
  padding-left: 24px !important;
  padding-right: 24px !important;
  padding-top: 24px !important;
  padding-bottom: 8px !important;
  display: block;
}

.apply2 {
  align-items: center !important;
  gap: 1rem !important;
  display: flex !important;
}

.apply3 {
  font-weight: 600 !important;
  gap: 0.5rem !important;
  flex-direction: column !important;
  display: flex !important;
}

.money {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.morecontent {
  overflow-y: scroll;
  height: calc(100vh - 300px);
  padding: 24px !important;
  display: block;
}

.morecontent1 {
  display: block;
}

.morecontent2 {
  gap: 0.5rem !important;
  flex-direction: column !important;
  display: flex !important;
}

.location {
  display: flex;
  color: #a6a6a6 !important;
  gap: 10px;
}

.time {
  display: flex;
  color: #a6a6a6 !important;
  gap: 10px;
}

.skill {
  display: flex;
  color: #a6a6a6 !important;
  gap: 10px;
}

.button {
  background-color: white;
  border-radius: 200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  border: 1px solid transparent;
  border-color: #dedede;
  padding: 4px 10px;
  gap: 4px;
  cursor: pointer;
  color: #414042;
  transition: border 0.3s ease;
}

.line {
  border-top: 1px dashed #dedede;
  margin-top: 24px !important;
  margin-bottom: 24px !important;
  display: block;
}

ul > li ::marker {
  color: red;
}

.jobapply {
  border-radius: 4px;
  margin-top: 16px !important;
  margin-bottom: 12px !important;
  padding-left: 12px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  background-color: #eaf9e9 !important;
  color: #121212 !important;
  box-sizing: border-box;
  display: block;
}
.Pending {
  border-radius: 4px;
  margin-top: 16px !important;
  margin-bottom: 12px !important;
  padding-left: 12px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  background-color: #add8e6 !important;
  color: #121212 !important;
  box-sizing: border-box;
  display: block;
}
.Rejected {
  border-radius: 4px;
  margin-top: 16px !important;
  margin-bottom: 12px !important;
  padding-left: 12px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  background-color: #f8d7da !important;
  color: #121212 !important;
  box-sizing: border-box;
  display: block;
}

.jobapply1 {
  align-items: center !important;
  gap: 0.5rem !important;
  display: flex !important;
  box-sizing: border-box;
  color: #121212 !important;
}

.link {
  text-decoration: none;
  color: black; 
  box-sizing: border-box;
}

.link:hover {
  text-decoration: underline;
}

.button6{
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  opacity: 1;
  left: calc(100% - 110px);
  top:0;
  position: absolute;
  background-color: #fff;
  padding: 4px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  color: #616161;
  transition: color, border-radius .1s;
  will-change: color, border-radius;
  /* width: 32px;
  height: 32px; */
  z-index: 2;
  margin: 0;
  font-family: Graphik, Helvetica Neue, arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  box-sizing: border-box;
}
