.container {
    display: flex;
    align-items: start;
    justify-content: start;
    height: 100vh;
    background: #fff;
    padding: 10px;
    gap: 2rem;
  }


  .containerleft {
    width: 100%;
    max-width: 800px;
    padding: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 1;
  }

  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0px 10px 0px;
  }
  
  .separator::before,
  .separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
  }
  
  .separator::before {
    margin-right: 10px;
  }
  
  .separator::after {
    margin-left: 10px;
  }
  