.main_container {
  width: 100%;
}

.container {
 
  background: linear-gradient(269.85deg, #54151C 0%, #121212 54.89%);

  padding-left: 160px !important;
  padding-right: 160px !important;

  position: relative;
  display: block;
}

.form {
  max-width: 1220px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.form1 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
  margin-right: auto !important;
  margin-left: auto !important;
  display: block;
}
.main {
  padding-right: 30px;
  padding-left: 30px;
  display: block;
  box-sizing: border-box;
}

.container1 {
  max-width: 1340px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display: block;
}

.section {
  margin-bottom: 120px !important;
  margin-top: 64px !important;
  text-align: center !important;
  box-sizing: border-box;
  display: block;
}

.divtitle {
  margin-right: auto !important;
  margin-left: auto !important;
  box-sizing: border-box;
  display: block;
  text-align: center;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 48px;
  grid-template-rows: 1fr;
  row-gap: 96px;
  margin-top: 48px !important;
  margin-right: auto !important;
  margin-left: auto !important;
  box-sizing: border-box;
  text-align: center !important;

}

.card1{
  column-gap: 28px;
  row-gap: 32px;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
  display: flex !important;
  box-sizing: border-box;
}
.cardJob {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  box-sizing: border-box;
  margin-top: 20px;
}

.card_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  flex-wrap: nowrap;
  max-width: 300px;
  padding: 20px;
}
.card_shadow {
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.card_image {
  width: 60px;
  height: auto;
  flex-shrink: 0;
  margin-bottom: 80px;
}

.card_item div {
  flex-grow: 1;
}

.card_item p {
  text-align: start;
  margin: 0;
  color: #121212;
}

.divne {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  top: 0;
  left: 105%;
  width: 32px;
  height: 100%;
  min-width: 32px;
  background: radial-gradient(
    50% 56.75% at 100% 51.25%,
    #f8f4f2 0%,
    rgba(242, 236, 234, 0.8) 11.46%,
    rgba(245, 245, 245, 0) 83.85%
  );
  margin-right: auto !important;
  margin-left: auto !important;
  box-sizing: border-box;
  display: block;
}

.divne1 {
  transform: initial;
  position: absolute;
  top: 0;
  left: 100%;
  width: 32px;
  height: 100%;
  min-width: 32px;
  background: radial-gradient(
    50% 56.75% at 100% 51.25%,
    #f8f4f2 0%,
    rgba(242, 236, 234, 0.8) 11.46%,
    rgba(245, 245, 245, 0) 83.85%
  );
  margin-right: auto !important;
  margin-left: auto !important;
  box-sizing: border-box;
  display: block;
}

@media only screen and (max-width: 768px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .card {
    flex-direction: column;
    align-items: center;
  }

  .card_item {
    justify-content: center;
    width: 100%;
  }
}
