.main{
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
}

.main1{
    padding-left: 16px !important;
    padding-right: 16px !important;
    box-sizing: border-box;
    display: block;
}

.main2{
    display: block;
    font-size: 1.5em;
    border-bottom: 1px solid #dedede;
    padding-bottom: 16px;
    margin-top: 21px;
    color: #121212 !important;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 0;
    box-sizing: border-box;
}

.ul{
    list-style: none;
    font-size: 14px;
    padding: 0;
    display: grid
;
    grid-template-columns: repeat(4, 1fr);
    margin: 32px 0 14px;
    grid-column-gap: 10px;
    box-sizing: border-box;
}

.li{

    padding: 5px 0;
    color: #121212;
    box-sizing: border-box
    ;
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
    list-style: none;
    font-size: 14px;
}

.ul a{
    color: #121212 !important;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;  
    box-sizing: border-box;
}