.main {
    min-height: calc(100vh - 495px);
    display: flex;
    flex-direction: column;
  }
  
  .main1 {
    flex-grow: 1;
    display: block;
  }
  
  .footer {
    color: var(--i-silver-grey);
    /* background: linear-gradient(180deg, #ff8243, #ffd194); */
    background: linear-gradient(269.85deg, #54151C 0%, #121212 54.89%);
    padding-top: 48px;
    box-sizing: border-box;
    margin: 0;
    display: block;

  }
  