.card_main {
  padding: 12px !important;
  flex: 0 0 auto;
  width: 25%;
  max-width: 100%;
  margin-top: var(--i-gutter-y);
  box-sizing: border-box;
  display: block;
}
.card_item {
  /* position: relative;
   /* display: flex; */
  flex-direction: column;
 
  justify-content: space-between;
  gap: 10px;
  max-width: 500px;
  height: 100% !important;
  transition-duration: 300ms;
  padding-top: 16px !important;
  border-radius: 8px;
  /* border: 1px solid #dedede; */
  background-color: white;
  box-shadow: 0px 6px 32px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card_item:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.card_itemm {
  padding-left: 12px !important;
  padding-right: 12px !important;
  flex-grow: 1;
  box-sizing: border-box;
  display: block;
}

.card_itemm1 {
  padding-left: 12px !important;
  padding-right: 12px !important;
  justify-content: space-between !important;
  flex-direction: column !important;
  height: 100% !important;
  display: flex !important;
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.logo {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  align-items: center !important;
  display: flex !important;
  box-sizing: border-box;
  gap: 10px;
}

.image {
  width: 48px;
  height: 48px;
  box-sizing: content-box;
  border: 1px solid #dedede;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  background-color: rgba(var(--i-white-rgb), var(--i-bg-opacity)) !important;
}

.money {
  display: flex;
  align-items: center;

  box-sizing: border-box;
  font-weight: 5500 !important;
  gap: 5px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 2px dotted #ccc;
}

.separator::before {
  margin-right: 0px;
}

.separator::after {
  margin-left: 0px;
}

.location {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
  font-weight: 5500 !important;
  gap: 5px;
}

.job {
  display: flex;
  gap: 8px;
  margin-bottom: 20px !important;
  margin-top: 12px !important;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.button {
  background-color: white;
  border-radius: 200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  border: 1px solid transparent;
  border-color: #dedede;
  padding: 4px 10px;
  gap: 4px;
  cursor: pointer;
  color: #414042;
  transition: border 0.3s ease;
}

.button:hover {
  border: 1px solid #333;
  transition: border 0.3s ease;
}

.formbutton {
  margin-top: 20px !important;
  align-items: flex-end !important;
  justify-content: space-between !important;
  flex-direction: row-reverse !important;
  display: flex !important;
  flex-wrap: nowrap;
}
.button_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-end;
  gap: 10px;
}

/* Tạo file CSS hoặc sử dụng một CSS module */
.link {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}

.link:hover {
  /* text-decoration: underline; */
  color: #ff0000 !important;
}

.link2 {
  text-decoration: none;
  color: black;
  /* color: black;  */
}

.link3 {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}

.link3:hover {
  text-decoration: underline;
}

.span {
  align-items: start;
  font-weight: 400;
  margin-top: 7px;
  color: #414042 !important;
  font-size: 14px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  flex-shrink: 1;
  padding-left: 8px;
}
@media (max-width: 768px) {
  .card_main {
    width: 100%;
    margin: 10px 0;
  }
  .button_icon {
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 480px) {
  .job {
    flex-wrap: wrap;
    gap: 4px;
  }

  .money {
    font-size: 14px;
    gap: 3px;
  }
}

.benefit{
  font-weight: 500 !important;
  color: #121212 !important;
  font-size: 14px;

  box-sizing: border-box;
  display: block;
}

.ul{
  padding-left: 18px;
  margin-top: 0;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.li{
  margin-bottom: 4px !important;
  box-sizing: border-box;
  display: list-item;
  text-align: left;
  unicode-bidi: isolate;
}

.li::marker{
  color: #ed1b2f;
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}