.commentContainer {
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  max-height: 400px;
  overflow-y: auto;
}

.comment {
  padding-bottom: 16px;
}

.commentSeparator {
  border: 0;
  height: 1px;
  background-color: #e0e0e0;
  margin-top: 16px;
}
