.container {



  margin-bottom: 48px;
  padding: 0;
  max-width: 1320px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display: block;
  
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.leftSection {
  flex: 1;
  padding: 0 15px;
}

.left1 {
  display: block;
}

.divlogo {
  text-align: left;
}

.logo {
  height: 50px;
  vertical-align: middle;
}

.slogan {
  font-size: 18px;
  color: white;
  margin-top: 10px;
}

.socialIcons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.socialIconsItem {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #333;
}

.socialIconsItem:hover {
  color: white;
  cursor: pointer;
  border-color: white;
}

.midSection {
  flex: 1;
  padding: 0 15px;
}

.heading {
  color: #dedede;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.list {
  display: block;
}

.list1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.span {
  font-size: 14px;
  font-weight: 400;
  color: var(--i-dark-grey);
  text-decoration: none;
}

.hr {
  border: 0;
  height: 1px;
  background-color: currentColor;
  opacity: 0.25;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.p {
  color: #a6a6a6;
  font-size: 12px;
  font-weight: 400;
}

.line {
  border-left: 1px solid #a6a6a6;
  height: 30px;
  margin: 0 16px;
}

.p1 {
  color: #a6a6a6;
  font-size: 12px;
  font-weight: 400;
}


  
.footer {
  color: var(--i-silver-grey);
  background: linear-gradient(180deg, #ff8243, #ffd194);
  padding-top: 48px;
  box-sizing: border-box;
  display: block;

}
