.track {
    fill: none;
    stroke: #f3f4f6; /* Light background color */
    stroke-width: 10;
  }
  
  .progress {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transition: stroke-dasharray 0.3s ease;
  }
  
  .percentage_text {
    font-size: 18px;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: middle;
    fill: #333; /* Color for percentage text */
  }
  
  .label {
    text-align: center;
    font-size: 12px;
    color: #666;
    margin-top: 8px; /* Space between percentage and label */
  }
  


  .main{
  display: inline-block;
  position: relative;
  width: 100px;
  height: 60px;
  overflow: hidden;
  }