.container {
    background-color: #f7f7f7 !important;
    min-height: calc(100vh - 495px);
    display: block;
    margin-top: auto;
}

.header {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, .06);
    display: block;
    background-color: white;
}

.icontainer {
    max-width: 1340px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.icontainer1 {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    line-height: 1.5;
    align-items: center !important;
    overflow: auto;
    overflow-y: hidden;
    max-width: 100%;
    white-space: nowrap;
    gap: 48px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    flex-wrap: nowrap !important;
    box-sizing: border-box;
}

/* New class for li elements to avoid inline styles */
.menuItem {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    color: #a6a6a6;
    padding: 0;
    margin: 0;
    height: 100%;
}

.icontainer1 a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    border-radius: 0;
    text-align: center;
    width: 160px;
    cursor: pointer;
    color: #121212;
    opacity: .7;
    border-width: 0;
    border-bottom: 3px solid transparent;
    white-space: nowrap !important;
    display: block;
    padding: .5rem 1rem;
}

.icontainer1 a:hover {
    border-bottom: 3px solid #a6a6a6;
    text-decoration: none;
}

.icontainer1 a.active {
    /* color: #ed1b2f; */
    color: #4cd681;
    /* border-bottom: 3px solid #ed1b2f; */
    border-bottom: 3px solid #4cd681;
    opacity: 1;
    text-decoration: none;
}
