.div20{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-width: 0;
    min-height: 560px;
    transition: height .3s ease;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    overflow: auto;
  overflow-y: hidden;
  max-width: 100%;
}

.div21{
    opacity: 1;
    flex: 1 1;
    box-sizing: border-box;

    border-width: 0;
    border-style: solid;
}


.div22{
    padding: 48px 32px 32px;
    position: relative;
    transition: padding .3s ease;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}

.main {
    min-height: calc(100vh - 64px);
    background-color: #e8edf2;
    display: block;
    box-sizing: border-box;
  }
  
  .div {
    display: block;
    box-sizing: border-box;
  }
  
  .main1 {
    max-width: 1296px;
    padding: 20px 20px 80px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    display: block;
  }
  
  .main2 {
    margin-bottom: 1.14rem !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    border-radius: 0.214rem !important;
    background-color: #fff !important;
    box-sizing: border-box;
  
    display: block;
  }
  
  
  .main3{
      box-sizing: border-box;
      display: block;
  }
  
  .main4{
      padding-left: 1.14rem !important;
      padding-right: 1.14rem !important;
      padding: 1.14rem !important;
      display: flex;
      box-sizing: border-box;
  
  
  }
  
  .main5{
      width: 9%;
      box-sizing: border-box;
      display: block;
  }
  
  .span{
      background-color: #fffae9 !important;
      border-color: transparent !important;
      color: #e5b500 !important;
      margin-left: auto !important;
      padding: .57rem !important;
      width: 100% !important;
      display: inline-block;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: .25rem;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      box-sizing: border-box;
  }
  
  .main6{
      width: 9%;
      padding-left: 1.14rem !important;
      padding-right: 1.14rem !important;
      align-self: center !important;
      box-sizing: border-box;
      display: block;
  }
  
  .link{
      text-decoration: none !important;
      color: #343a40 !important;
      font-weight: 500 !important;
      padding-left: 1.14rem !important;
      padding-right: 1.14rem !important;
      align-self: center !important;
      background-color: transparent;
      box-sizing: border-box; 
      cursor: pointer;
  }
  
  .hr{
      margin: 0 !important;
      border-top: 1px solid #e8edf2;
  
     
      box-sizing: content-box;
      height: 0;
      box-sizing: content-box;
      height: 0;
      overflow: visible;
      display: block;
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
      margin-inline-start: auto;
      margin-inline-end: auto;
      unicode-bidi: isolate;
  
  }
  
  .nav{
      display: block;
      box-sizing: border-box;
  }
  
  .ul{
      margin-bottom: 0 !important;
      justify-content: center !important;
      display: flex;
      padding-left: 0;
      list-style: none;
      border-radius: .214rem;
      margin-top: 0;
      box-sizing: border-box;
  }
  
  .li{
      box-sizing: border-box;
      display: list-item;
      text-align: -webkit-match-parent;
      unicode-bidi: isolate;
      list-style: none;
  }
  
  .ul a{
      margin-right: .285rem !important;
      box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
      border-radius: .214rem !important;
      
      position: relative;
      display: block;
      padding: 7px 12px;
      margin-left: 0;
      line-height: 1.25;
      color: #000;
      background-color: #fff;
      border: 0 solid #dee2e6;
      box-sizing: border-box;
      cursor: pointer;
  }
  
  .ul a:hover{
      background-color: #dee2e6;
      border: 1px solid #dee2e6;
      color: #FF6F61;
  
  }
  .ul a.active{
      background-color: #FF6F61;
      color: white;
  }
  
  .div9 {
      margin-left: auto !important;
      box-sizing: border-box;
      display: block;
    }
    
    .div10 {
      position: relative;
      box-sizing: border-box;
      display: block;
    }
    
    .span3 {
      cursor: pointer;
      width: 24px;
      height: 24px;
      padding: 1px;
      font-size: 0.857rem;
      background-color: #d0dae4;
      border-color: #c7d4e0;
      text-decoration: none;
      background: #f5f8fa;
      white-space: nowrap;
      color: #5e6368 !important;
      border-radius: 50% !important;
      display: inline-block;
      font-weight: 400;
    
      text-align: center;
      vertical-align: middle;
      line-height: 1.5;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      box-sizing: border-box;
    }
    
    .div11 {
      left: auto;
      right: 0;
      width: 150px;
      min-width: unset;
      position: absolute;
      padding: 0;
      text-align: left !important;
      font-size: 0.85rem;
      float: none;
      display: block;
      border: none;
      top: 100%;
      z-index: 1000;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
      list-style: none;
      background-color: #fff;
      background-clip: padding-box;
      border-radius: 0.25rem;
      box-sizing: border-box;
    }
  
    .link2 {
      display: block;
      width: 100%;
      padding: 0.25rem 1.5rem;
      clear: both;
      font-weight: 400;
      text-align: inherit;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
      color: #212f3f;
      cursor: pointer;
      text-decoration: none;
      box-sizing: border-box;
      font-size: 0.85rem;
      list-style: none;
    }
    