.main {
    width: 100%;
    display: table-cell;
    padding-left: 14px;
    padding-right: 14px;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
  }
  
  .main1 {
    margin-bottom: 28px;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }
  
  .main2 {
    font-size: 13px;
    line-height: 21px;
    margin-top: 28px;
    padding: 14px;
    border: 1px solid #e7e9eb;
    background-color: #fff !important;
  }
  .main3 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }
  
  .main4 {
    font-size: 14px;
    line-height: 21px;
    color: #888;
    font-weight: 600;
    text-align: right;
    margin-bottom: 14px;
    width: 164.66667px;
    padding-right: 28px;
    float: left;
    box-sizing: border-box;
    padding-top: 7px;
  }
  
  .label {
    vertical-align: baseline;
    display: inline;
    margin: 0;
    border: 0;
    padding: 0;
    white-space: normal;
    line-height: inherit;
    background: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font: inherit;
  }
  
  .main5 {
    margin-bottom: 14px;
    margin-left: 164.66667px;
    max-width: 329.33333px;
  
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }
  .input {
    height: 35px;
    border: 1px solid #e7e9eb;
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 6px;
    background: #fff;
    color: #000;
    line-height: normal;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    white-space: normal;
    font-size: inherit;
    font-family: inherit;
  }
  
  
  .main6{
      margin: 0;
      padding: 0;
      border: 0;
      font: inherit;
      font-size: 100%;
      vertical-align: baseline;
      display: block;
      unicode-bidi: isolate;
  }
  
  .main7{
      margin-bottom: 14px;
      margin-left: 164.66667px;
      max-width: 329.33333px;
    
      font: inherit;
      font-size: 100%;
      vertical-align: baseline;
  }
  
  .main8{
      margin: 0;
      padding: 0;
      border: 0;
      font: inherit;
      font-size: 100%;
      vertical-align: baseline;
  }
  
  .inputbutton{
      background-color: #3f81c7;
      color: #f0f0f0;
      text-shadow: 0 1px rgba(0, 0, 0, .11);
      -webkit-appearance: none;
      box-sizing: border-box;
      outline: none;
      text-decoration: none;
  
      border-radius: 3px;
      user-select: none;
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      text-align: center;
      display: inline-block;
      font-size: 14px;
      line-height: 21px;
      padding: 7px 14px;
      -webkit-font-smoothing: antialiased;
      margin: 0;
      border: 0;
      width: auto;
      vertical-align: middle;
      white-space: normal;
  }