.main {
  margin: 0 auto;
  background-color: #fafafa;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.main1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  width: 100%;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.main2 {
  position: static;
  display: grid;
  flex-grow: 1;
  width: unset;
  grid-template-columns: 272px minmax(0, 1fr);
  max-width: 100vw;
  min-height: calc(100vh - 64px);
  background-color: #fafafa;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.main3 {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.main4 {
  position: sticky;
  top: 64px;
  height: calc(100vh - 64px - 16px);
  z-index: 20;
  display: block;
  background-color: #fafafa;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.main5 {
  height: calc(100vh - 64px - 64px);
  padding: 16px;
  min-height: calc(100vh - 64px);
  overflow-y: auto;
  box-sizing: border-box;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
  border-width: 0;
  border-style: solid;
}

.main6 {
  gap: 16px;
  justify-content: space-between;
  align-items: center;

  flex-direction: row;
  display: flex;

  margin-bottom: 16px;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.header{
    -webkit-font-smoothing: antialiased;
    --tw-text-opacity: 1;
    color: rgb(5 12 38 / var(--tw-text-opacity));
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    flex: 0 1 auto;
    margin-right: auto;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}


.main5 a{
    color: #143fcd;
    background: none;
    border-left: 2px solid transparent;
    cursor: pointer;
    display: inline-block;
    padding: 16px 16px 16px 24px;
    position: relative;
    transition: background-color .1s ease-in-out;
    text-align: start;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    text-decoration: none;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}

.main5 a.active{
    border-left-color: #e0e0e0;
    background-color: #eee;
    border-bottom-color: transparent;   
}

.p{
    color: #050c26;
    font-size: 14px;
    line-height: 20px;
    margin: 4px 16px 0 0;
    padding: 0;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}

.p1{
    color: #717584;
    font-size: 11px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
}

.main7{
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;    
}