import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css';




*{
  margin: 0 !important;
  padding: 0 !important;
  /* overflow: none !important; */
  box-sizing: border-box;
  display: block;
}

body, main {
  margin: 0 !important;
  padding: 0 !important;
  display: block;
  /* overflow: hidden !important; */
  overflow: auto !important;
  box-sizing: border-box;
  /* font-family: Roboto, Helvetica, Verdana, Arial, sans-serif; */
  font-family: "Lexend", sans-serif;;
  /* font-family: Roboto, Helvetica, Verdana, Arial, sans-serif; */
  
}

.button {
  background-color: white;
  border-radius: 200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  border: 1px solid transparent;
  border-color: #dedede;
  padding: 4px 10px;
  gap: 4px;
  cursor: pointer;
  color: #414042;
  transition: border 0.3s ease;
}


li a{
  text-decoration: none;
  font-family: "Lexend", sans-serif;;
}

p{
  /* font-family: Roboto, Helvetica, Verdana, Arial, sans-serif; */
  color: #222831;
  font-family: "Lexend", sans-serif;;
  letter-spacing: 0;
}

a{
  /* font-family: Roboto, Helvetica, Verdana, Arial, sans-serif; */
  font-family: "Lexend", sans-serif;;
  /* color: #a6a6a6 !important; */
}